.input-container {
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 70vh;
  border-radius: 30px;
  background: rgb(255,241,208);
  text-align: center;
}



textarea::-webkit-scrollbar {
    width: 0px;
}
